<section class="login-section" id="form">
  <div class="container justify-content-center">
    <form class="flex-column justify-content-center align-items-center" id="login-form">
      <h1 class="login">Hello, Please Log In</h1>
      <div class="form-login">
        <label class="text-dark">Email Address</label>
        <input type="email" class="email-input" id="email-input" placeholder="Your Email Here">

      </div>
      <div class="form-password">
        <label class="password">Password</label>
        <input type="password" id="password-input" placeholder="Password Here" />
      </div>

      <button class="submit" type="submit" id="login-btn">Log in</button>
      <br>
      <a href="/signup" class="signup">Sign Up</a>
    </form>
  </div>
</section>

<script src="/js/login.js"></script>