<form class="signup-form" id="form">
  <div class="email-input">
    <label for="email" class="email">Email:</label>
    <input type="text" id="email" class="input" />
  </div>
  <div class="username-input">
    <label for="username" class="username">Username:</label>
    <input type="text" id="username" class="input"/>
  </div>
  <div class="form-group">
    <label for="password" class="password">Password:</label>
    <input type="password" id="password" class="input" />
  </div>
  <div class="button-group">
    <button class="button" type="submit" id="signup-submit">Sign Up</button>
  </div>
</form>

<script src="/js/signup.js"></script>